In [2]:
import pandas as pd

In [20]:
df = pd.read_csv('aoty.csv')
df

,id,title,artist,release_date,genres,user_score,rating_count,album_link
0,1,To Pimp a Butterfly,Kendrick Lamar,"March 15, 2015","Conscious Hip Hop, Jazz Rap, West Coast Hip Hop",95,"28,594 ratings",https://www.albumoftheyear.org/album/29250-ken...
1,2,"good kid, m.A.A.d city",Kendrick Lamar,"October 22, 2012","Conscious Hip Hop, West Coast Hip Hop",94,"22,283 ratings",https://www.albumoftheyear.org/album/3840-kend...
2,3,In Rainbows,Radiohead,"October 10, 2007","Art Rock, Alternative Rock",94,"19,366 ratings",https://www.albumoftheyear.org/album/363-radio...
3,4,Songs in the Key of Life,Stevie Wonder,"September 28, 1976","Soul, Progressive Soul",94,"5,952 ratings",https://www.albumoftheyear.org/album/5600-stev...
4,5,OK Computer,Radiohead,"May 21, 1997","Alternative Rock, Art Rock",94,"21,163 ratings",https://www.albumoftheyear.org/album/362-radio...
...,...,...,...,...,...,...,...,...
4995,4996,Comfort to Me,Amyl & The Sniffers,"September 10, 2021","Punk Rock, Garage Punk",75,668 ratings,https://www.albumoftheyear.org/album/388038-am...
4996,4997,mini mix vol. 2,Magdalena Bay,"November 20, 2020","Synthpop, Electropop",75,477 ratings,https://www.albumoftheyear.org/album/304073-ma...
4997,4998,One of the Best Yet,Gang Starr,"November 1, 2019","Boom Bap, East Coast Hip Hop",75,316 ratings,https://www.albumoftheyear.org/album/184727-ga...
4998,4999,Dance of Love,Tucker Zimmerman,"October 11, 2024","Contemporary Folk, Singer-Songwriter",75,179 ratings,https://www.albumoftheyear.org/album/1058770-t...
4999,5000,Youthanasia,Megadeth,"November 1, 1994",Heavy Metal,75,520 ratings,https://www.albumoftheyear.org/album/6450-mega...

In [23]:
df['rating_number'] = df['rating_count'].str.extract(r'(\d[\d,]*)')[0].str.replace(',', '').astype(float)

In [24]:
df.describe()

                id   user_score  rating_number
count  5000.000000  5000.000000    5000.000000
mean   2500.500000    80.249200    1255.453600
std    1443.520003     3.665977    2150.942444
min       1.000000    75.000000     175.000000
25%    1250.750000    77.000000     273.000000
50%    2500.500000    80.000000     482.000000
75%    3750.250000    82.000000    1223.250000
max    5000.000000    95.000000   28594.000000

In [25]:
df.columns

Index(['id', 'title', 'artist', 'release_date', 'genres', 'user_score',
       'rating_count', 'album_link', 'rating_number'],
      dtype='object')

In [27]:
title = df['title'].unique()
artist = df['artist'].unique()
genres = df['genres'].unique()
link = df['album_link'].unique()

In [28]:
df.dtypes

id                 int64
title             object
artist            object
release_date      object
genres            object
user_score         int64
rating_count      object
album_link        object
rating_number    float64
dtype: object

In [36]:
# Group by 'Entity' and calculate mean
user_score_por_artista = df.groupby('artist')['user_score'].mean()
user_score_por_artista = pd.DataFrame(user_score_por_artista)

# Calculate other statistics like sum, median, etc.
number_ratings_genre = df.groupby('genres')['rating_number'].sum()
number_ratings_genre = pd.DataFrame(number_ratings_genre)

In [40]:
user_score_por_artista.sort_values('user_score', ascending=False)

                             user_score
artist
Madvillain                         93.0
Mingus                             92.0
Jeff Buckley                       92.0
Lauryn Hill                        91.0
Godspeed You Black Emperor!        91.0
...                                 ...
Doechii                            75.0
Oso Oso                            75.0
Pallbearer                         75.0
Diamond Construct                  75.0
SAINt JHN                          75.0

[2455 rows x 1 columns]

In [43]:
number_ratings_genre.sort_values('rating_number', ascending=False)

                                              rating_number
genres
Conscious Hip Hop, West Coast Hip Hop               83459.0
Indie Rock                                          64155.0
Pop Rap                                             62619.0
Experimental Hip Hop, Hardcore Hip Hop              44778.0
Singer-Songwriter, Contemporary Folk                43632.0
...                                                     ...
Rock Opera, Comedy Rock                               175.0
Industrial, Free Improvisation, Dark Ambient          175.0
Conscious Hip Hop, Trap, Hip Hop                      175.0
Neo-Psychedelia, Symphonic Rock                       175.0
Blue-Eyed Soul, Pop Soul                              175.0

[2871 rows x 1 columns]